$tablet: 768px !default;
$desktop: 960px !default;
$widescreen: 1080px !default;
$fullhd: 1440px !default;

@mixin from($device) {
    @media screen and (min-width: $device) {
        @content
    }
}

@mixin until($device) {
    @media screen and (max-width: $device - 1px) {
        @content
    }
}

@mixin mobile {
    @media screen and (max-width: $tablet - 1px) {
        @content
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet), print {
        @content
    }
}

@mixin tablet-only {
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
        @content
    }
}

@mixin touch {
    @media screen and (max-width: $desktop - 1px) {
        @content
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content
    }
}

@mixin until-fullhd {
    @media screen and (max-width: $fullhd - 1px) {
        @content
    }
}

@mixin fullhd {
    @media screen and (min-width: $fullhd) {
        @content
    }
}
